In [98]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [99]:
data=pd.read_excel(r'D:\data_storage\Projects\flight_price_ml\data.xlsx')
data.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [100]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [101]:
sum=data.isnull().sum()
pd.DataFrame({'count':sum,'%':sum*100/data.shape[0]})

                 count         %
Airline              0  0.000000
Date_of_Journey      0  0.000000
Source               0  0.000000
Destination          0  0.000000
Route                1  0.009361
Dep_Time             0  0.000000
Arrival_Time         0  0.000000
Duration             0  0.000000
Total_Stops          1  0.009361
Additional_Info      0  0.000000
Price                0  0.000000

In [102]:
#clearing rows with nulls
data.dropna(inplace=True)

In [103]:
data.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [105]:
#encoding categorical data
#source
source=pd.get_dummies(data['Source'],drop_first=True)
source=source.rename({k:'Source_'+k for k in source.columns},axis=1)
data=data.join(source)
#destination
destination=pd.get_dummies(data['Destination'],drop_first=True)
destination=destination.rename({k:'Destination_'+k for k in destination.columns},axis=1)
data=data.join(destination)

data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2023-02-18 22:20:00,2023-03-22 01:10:00,2h 50m,non-stop,No info,3897,0,0,0,0,0,0,0,0,1
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,2023-02-18 05:50:00,2023-02-18 13:15:00,7h 25m,2 stops,No info,7662,0,0,1,0,0,0,0,0,0
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,2023-02-18 09:25:00,2023-06-10 04:25:00,19h,2 stops,No info,13882,0,1,0,0,1,0,0,0,0
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,2023-02-18 18:05:00,2023-02-18 23:30:00,5h 25m,1 stop,No info,6218,0,0,1,0,0,0,0,0,0
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,2023-02-18 16:50:00,2023-02-18 21:35:00,4h 45m,1 stop,No info,13302,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,2023-02-18 19:55:00,2023-02-18 22:25:00,2h 30m,non-stop,No info,4107,0,0,1,0,0,0,0,0,0
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,2023-02-18 20:45:00,2023-02-18 23:20:00,2h 35m,non-stop,No info,4145,0,0,1,0,0,0,0,0,0
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,2023-02-18 08:20:00,2023-02-18 11:20:00,3h,non-stop,No info,7229,0,0,0,0,0,1,0,0,0
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR → DEL,2023-02-18 11:30:00,2023-02-18 14:10:00,2h 40m,non-stop,No info,12648,0,0,0,0,0,0,0,0,1
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,2023-02-18 10:55:00,2023-02-18 19:15:00,8h 20m,2 stops,No info,11753,0,1,0,0,1,0,0,0,0

In [108]:
#converting to datetime
for col in ['Date_of_Journey','Dep_Time','Arrival_Time']:
  data[col]=pd.to_datetime(data[col],dayfirst=True)

#converting time to decimal hours
for col in ['Dep_Time',"Arrival_Time"]:
  data[col+'dec_hour']=data[col].dt.hour+data[col].dt.minute/60

#converting date to month and day
data['Date_of_Journey_Month']=data['Date_of_Journey'].dt.month
data['Date_of_Journey_Day']=data['Date_of_Journey'].dt.day

data

0        3
1        5
2        6
3        5
4        3
        ..
10678    4
10679    4
10680    4
10681    3
10682    5
Name: Date_of_Journey_Month, Length: 10682, dtype: int64